{% extends 'base.html.twig' %}

{# {% block title %}{% endblock %} #}

{% block body %}
    <div class="container">
        <h1>
        Bonjour {{ controller_name }}!
        Bienvenue toi
        </h1>
    </div>
{% endblock %}

