<h3>Confirmation de votre adresse mail.</h3>

<p>
    Veuillez confirmer votre inscription sur le site de la MAM Brin de Reves, en cliquant sur le lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.<br><br>
    Ce lien expirera  dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement.
</p>
