<!-- Css Navbar  -->
<link rel="stylesheet" href="assets/navbar.css">

<header  class="header flex jcc" id="header" >
    <div class="nav-burger">
        <i  onclick="openMenuMobile()"><img src="assets/images/Icon/hamburger.png" alt=""></i>
    </div>
    <nav class="nav-container flex container aic jcsb" onclick="closeMenuMobile()" >
        <div class="logo-container">
            <a class="logo" href="#"><img src="assets/images/Logo/LogoFigma.png" alt="logo"></a>
            <h2>Brin de rêves</h2>
        </div>
        <!-- Menu classic -->
        <ul class="navbar flex jcsa aic" id="topnav_menu">
            <div class="nav-close" onclick="closeMenuMobile()" >
                <i class=" close " ><img src="assets/images/Icon/ferme.png" alt=""></i>
            </div>
            <li class="navbar-menu">
                <a href="/">
                    <div class="icon">
                        <i class="fa"><img src="assets/images/Icon/accueil.png" alt=""></i>
                    </div>
                    <div class="name" <span data-text="Accueil">Accueil </span></div>
                </a>
            </li>
            <li class="navbar-menu">
                <a href="index.php#titreAboutUs">
                    <div class="icon">
                        <i class="fa"><img src="assets/images/Icon/plume.png" alt=""></i>
                    </div>
                    <div class="name" <span data-text="Histoire">À propos</span></div>
                </a>
            </li>
            <li class="navbar-menu">
                <a href="index.php#titreContact">
                    <div class="icon">
                        <i class="fa"><img src="assets/images/Icon/call.png" alt=""></i>
                    </div>
                    <div class="name" <span data-text="Contact">Contact</span></div>
                </a>
            </li>
            <li class="navbar-menu">
                <a href="{{ path ('app_account')}}">
                    <div class="icon">
                        <i class="fa"><img src="assets/images/Icon/parents.png" alt=""></i>
                    </div>
                    <div class="name" <span data-text="Parents">Parents </span></div>
                </a>
            </li>
            <li class="navbar-menu">
                    
                    <!-- Si l'user est connecté -->
                    {% if app.user %}
                        <a href="{{ path ('app_logout')}}">
                            <div class="icon">
                                <i class="fa "><img src="assets/images/Icon/baby-boy.png" alt=""></i>
                            </div>
                            <div class="name connect" <span data-text="Quitter">Quitter</span></div>
                        </a>
                    <!-- Si l'user n'est pas connecté -->
                    {% else %}
                        <a href="{{ path ('app_register')}}">
                            <div class="icon">
                                <i class="fa"><img src="assets/images/Icon/baby-boy.png" alt=""></i>
                            </div>
                            <div class="name" <span data-text="Connexion">Connexion </span></div>
                        </a>
                    {% endif %}
                </li>
        </ul>
    </nav>
    
</header>

</html>