.container-apropos {
    flex-direction: column;
    overflow: hidden;
}

.aboutUs {
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    padding-bottom: 30px;
    background: no-repeat url(../assets/images/deco/kid.png);
    background-size: contain;
}

.aboutUs .titreAboutUs {
    color: #478056;
    font-size: calc(1.4962rem + 0.5038vw + ((100vw - 21.05rem) * (1.5048 - 1) / (85 - 21.05)));
    text-decoration: underline;
    margin: 0;
    margin-bottom: 3px;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 1px;
}


.aboutUs .left h2 {
    /* font-size: 1.9em; */
    font-size: clamp(1.125rem, 0.9906rem + 0.6719vw, 1.6625rem);
    color: #F2790F;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.aboutUs .right {
    /* font-size: 1.2em; */
    font-size: calc(0.875rem + 0.391vw + ((1.2rem - 0.875rem) * ((100vw - 21rem) / (85 - 21))));
    color: #111;
    padding-left: 25px;
    border-left: solid 3px var(--main-color-green);
    text-overflow: ellipsis;
}

.aboutUs .right p {
    color: var(--main-color-black);
    font-size: 1.2em;
    overflow: hidden;
    margin: 0;
    white-space: normal;
    width: 90%;
}

.aboutUs .papillon {
    position: absolute;
    opacity: 0.5;
}

.content-aboutUs {
    height: 40vh;
    width: 80em;
    overflow: ellipsis;
}

/*---------Media query-- AboutUs------*/

@media (max-width: 992px) {
    .content-aboutUs {
        flex-direction: column;
        box-sizing: content-box;
        width: 100%;
    }

    .aboutUs .left {
        width: 50vw;
        height: 25vh;
        flex: 1;
        align-items: center;
        margin-top: 5em;
    }

    .aboutUs .left h3 {
        text-align: center;
        justify-content: center;
    }

    .aboutUs .right {
        border: none;
        padding: 0;
        margin-left: 2em;
    }

    .aboutUs .right p {
        text-align: center;
    }

    .cards-body {
        flex-direction: column;
        gap: 20px;
    }

}

@media (max-width: 576px) {
    .aboutUs {
        margin: 0;
    }

    .content-aboutUs {
        height: 100%;

    }

    .aboutUs .titreAboutUs {
        font-size: 2em;
        margin-top: 1em;
    }

    .aboutUs .left {
        margin: 1.2em;
        flex: 0;
    }

    .aboutUs .right p {
        font-size: 1em;
    }
}





