#titre-vert{
  color: var(--main-color-green);
}

#titre-info{
  color:var(--main-color);
  background-color: var(--main-color-green);
  font-family: 'Comfortaa', cursive;
}

.table{
  border: 1px solid var(--main-color-green);
}

@media (max-width: 768px) {
  .table thead {
    display: none;
  }
.table{
  margin: 1rem;

}

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}