.contai {  display: grid;
  grid-template-columns: 0.4fr 1.4fr 0fr;
  grid-template-rows: 1fr 0fr 0fr;
  gap: 0px 39px;
  grid-auto-flow: row;
  grid-template-areas:
    "Aside infos ."
    ". . ."
    ". . .";
}

.Aside { 
  grid-area: Aside;
  background-color: var(--main-color);
  height: 100vh;
  border: 2px solid var(--main-color-green);

  }

.Aside .navItems{ 
  padding-top: 5em;
  }

.Aside li{ 
  color: var(--main-color-green);
  text-align: center;
  line-height: 5em;
  /* margin-top: 3em; */
  }

.infos {  display: grid;
  grid-template-columns: 1fr 0fr 0fr;
  grid-template-rows: 1fr 1fr 0fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "infosEnfant . ."
    "infosAssmat . ."
    ". . .";
  grid-area: infos;
}

.infosEnfant { 
  grid-area: infosEnfant; 
  text-align: center;
}

.infosEnfant .name h3{ 
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  margin-top: 2em;
}

.infosEnfant .user-card-header{ 
  background-color: var(--main-color-green);
  padding: 10px;
  color: var(--main-color);
}

.infosEnfant .user-card-body{ 
  background-color: var(--main-color);
  padding: 10px;
}

.infosEnfant .user-card-body p{ 
  color: var(--main-color-dark);
  border: 1px solid var(--main-color-green);
}

.infosEnfant .user-card-body span{ 
  color: var(--main-color-green);
}

.infosAssmat { grid-area: infosAssmat; }
