<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <title>{% block title %}BDR - Test{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="AliExprass" name="author">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Mam Brin de Reves, maison d'assistante maternelle agrée">
        <meta name="keywords" content="">

        
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

        <link rel="stylesheet" href="assets/style.css">
        
    </head>
<body>
    {% include "partials/head.php" %}
    {% include "partials/navbar.html.twig" %}
    {# ------------Bloc content---------- #}

    
    {% block content %}
    {% endblock %}



    {% include "/partials/footer.html.twig" %}
    {% block javascripts %}{% endblock %}

    {# ---------SCRIPTS--------------- #}
    <script src="assets/javascript/smooth.js"></script>


    

</body>
</html>